<% layout("/layouts/boilerplate") %>
<br />
<div class="row">
  <div
    class="alert alert-danger col-6 offset-3 d-flex align-items-start flex-wrap text-break"
    role="alert"
  >
    <i
      class="bi bi-exclamation-triangle-fill me-2 text-danger"
      style="font-size: 1.5rem"
    ></i>

    <div class="flex-grow-1">
      <h5 class="alert-heading mb-1">Error</h5>
      <p class="mb-0 text-break"><%= message %></p>
    </div>
  </div>
</div>
